Resource_1 RCDATA "..\\game board 2021\\game 2021 board - idhtttp - chat webbrowser 7 eraly end game\\sondd\\wav\\piece_pickup2.wav"
Resource_2 RCDATA "..\\game board 2021\\game 2021 board - idhtttp - chat webbrowser 7 eraly end game\\sondd\\wav\\piece_place2.wav"
Resource_3 RCDATA "..\\game board 2021\\game 2021 board - idhtttp - chat webbrowser 7 eraly end game\\edit memo"
